<!-- <mat-form-field [formGroup]="form">
    <mat-label>{{meta.label}}</mat-label>
    <input matInput [matDatepicker]="date" [formControlName]="meta.key" [id]="meta.key">
    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker #date></mat-datepicker>
  </mat-form-field>-->
  
<div [formGroup]="form">
    <input [formControlName]="meta.key" [id]="meta.key" type="date"/>
</div>