@use '../01-abstracts/variable' as *;

html, body { 
    height: 100%;     
    overflow: auto !important; 
    transform: none !important; 
    height: auto !important;
    max-height: initial !important;
    position: initial !important;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-dashboard__content > .ng-star-inserted{
    background: white;
    height: 100%;
    width: 95%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}



/* For text */
.font-14{
    font-size: 12px !important;
}

.subtitle{
    font-size: 18px !important;
}


/* For button*/
.btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.validate {
    font-size: 10px;
    margin-top: -20px !important;
    color: $color-red;
}

/* Animaciones */
@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
  }


  .w-50{
    width: 50%;
    @media(max-width: 768px){
        width: 100% !important;
    }
  }


::-webkit-scrollbar {
    width: 15px;
}
  
 ::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #becdcd;
}