<app-data-table 
    [dataSource]="myData"
    [columns]="myColumns"
    [meta]="meta"
    [serviceGET]="'social-network'"
    [serviceGETDetail]="'social-network'"
    >
</app-data-table>

<button mat-mini-fab class="btn btn-add" (click)="createElement()">
    <ion-icon name="add-outline"></ion-icon>
</button>