<app-breadcrumb></app-breadcrumb>

<app-data-table 
    [dataSource]="myData"
    [columns]="myColumns"
    [meta]="meta"
    [serviceGET]="'event-date'"
    [serviceGETDetail]="'event-date'"
    [actions]="actions"
    >
</app-data-table>