<div class="mat-elevation-z8">
  <app-loader *ngIf="showPercentage" [message]="message" [showMessage]="true"></app-loader>

  <mat-form-field appearance="standard">
    <mat-label> <ion-icon name="search-outline"></ion-icon> Buscar...</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese valor..." #input>
  </mat-form-field>

  <table mat-table matTableResponsive [dataSource]="_dataSource">
    <ng-container *ngFor="let c of columns; let i = index" [matColumnDef]="c.caption">
      
        <th mat-header-cell *matHeaderCellDef>
          {{c.caption}}
        </th>
      
      <td mat-cell *matCellDef="let element" [attr.data-column-name]="c.caption">
        <div class="lessons-list" *ngIf="c.caption === 'Fecha' ?  true : false">
          <p>{{element[c.field] | date}}</p>
        </div>

        <div class="lessons-list" *ngIf="c.caption === 'Imagen' ?  true : false">
          <ion-icon (click)="openViewFile(element[c.field])"  name="image-outline" matTooltip="Ver Imagen"></ion-icon>
        </div>

        <div class="lessons-list" *ngIf="c.caption != 'Fecha'  ?  c.caption != 'Imagen' ? true : false : false">
          <p [innerHTML]="element[c.field]"></p>
        </div>

        <ng-template #image>
          <ion-icon (click)="openViewFile(element[c.field])"  name="image-outline" matTooltip="Ver Imagen"></ion-icon>
        </ng-template>

        <ng-template #fecha>
          <p>{{element[c.field] | date: 'dd/MM/yyyy' }}</p>
        </ng-template>

        <div *ngIf="c.field === 'estado'">
          <mat-slide-toggle [(ngModel)]="element['active']" (change)="changeState($event, element['id'])"></mat-slide-toggle>
        </div>

        <div *ngIf="c.field === 'acciones'">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </button>
          
          <mat-menu #menu="matMenu">
            <!--<button mat-menu-item (click)="openView(element['id'])">
              <ion-icon name="eye-outline"></ion-icon>
              <span>Ver</span>
            </button>-->

            <button *ngIf="actions.editar" mat-menu-item (click)="openEdit(element['id'])">
              <ion-icon name="settings-outline"></ion-icon>
              <span>Editar</span>
            </button>
            <button *ngIf="actions.eliminar" mat-menu-item (click)="openDelete(element['id'])">
              <ion-icon name="trash-outline"></ion-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </div>

        <div *ngIf="c.field === 'interno'">
          <button mat-icon-button matTooltip="Detalle" [routerLink]="['detalle',  element['id'], 'detail']">
            <ion-icon name="document-text-outline"></ion-icon>
          </button>
          
          <button mat-icon-button matTooltip="Atributos" [routerLink]="['atributo',  element['id'], 'attribute']">
            <ion-icon name="documents-outline"></ion-icon>
          </button>

          <button mat-icon-button matTooltip="Atributos externos" [routerLink]="['atributo-externo',  element['id'], 'attribute-external']">
            <ion-icon name="document-lock-outline"></ion-icon>
          </button>
        </div>
      </td>

    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[8, 16, 30, 40, 50, 60, 70, 80, 90]" showFirstLastButtons></mat-paginator>
</div>