
<app-loader [showMessage]="false" *ngIf="isLoading"></app-loader>

<div class="container-auth">
  <app-banner [type]="'color'" [color]="'white'" [orientation]="'vertical'">
    <img src="../../../assets/image/img/login/logo.svg" alt="">
  </app-banner>

  <div class="container-auth__formulario">

    <div>
      
      <div class="logo">
        <img src="../../../assets/image/img/login/logo_investor.svg" alt="">
      </div>
  
      <form [formGroup]="frmLogin" (ngSubmit)="validarUsuario()">

        <div class="form-group">
          <label for="">Usuario</label>
          <input type="text" formControlName="document" placeholder="Ingrese el número de identidad">
          <span *ngIf="frmLogin.get('document')?.touched && f['document'].invalid">Campo obligatorio</span>
        </div>

        <div class="form-group">
          <label for="">Contraseña (código del colaborador)</label>
          <input type="password" formControlName="password" placeholder="***************">
          <span *ngIf="frmLogin.get('password')?.touched && f['password'].invalid">Campo obligatorio</span>
        </div>

        <div class="form-group error" *ngIf="isLogin">
          <span>Usuario ó Contraseña invalido.</span>
        </div>
        <div class="form-group">
          <button class="btn" type="submit" [disabled]="buttonClicked$">Ingresar</button>
        </div>
      </form>

    </div>

  </div>
</div>
<app-footer></app-footer>