@use '../../../sass/01-abstracts/variable' as *;
@use '../../../sass/01-abstracts/mixins' as *;

.container-auth{
    height: 96vh;
    display: flex;
    justify-content: space-between;
    app-banner{
        width: 25%;
        @media (max-width:768px){
            display: none;
        }
        img{
            width: 70%;
            
        }
    }
    &__formulario{
        width: 75%;
        background-image: url(../../../assets/image/img/login/background.png);
        background-size: cover;
        background-position: left center;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width:768px){
            width: 100%;
        }
        > div{
            background: $color-primary;
            padding: 4% 7%;
            box-sizing: border-box;
            .logo{
                img{
                    width: 100%;
                }
            }
            form{
                padding-top: 25px;
                .form-group{
                    display: flex;
                    flex-direction: column;
                    label{
                        font-size: 14px;
                        color: $white;
                        margin-top: 25px;
                        margin-bottom: 5px
                    }
                    input{
                        //$font-size, $border-size, $border-color, $padding
                        @include input(left, 14px, 0px, none, 12px);
                        &::placeholder{
                            color: $black;
                        }
                    }
                    span{
                        font-size: 12px;
                        color: $color-secondary;
                        margin-top: 10px  !important;
                    }
                    button{
                        @include button(true, $color-secondary, $white, 0px, 15px, 10px, 100%);
                        margin-top: 25px;
                    }
                }
                
            }
        }
    }
}
