<mat-form-field [formGroup]="form">
    <mat-label>{{meta.label}}</mat-label>
    <input matInput [formControlName]="meta.key" [id]="meta.key" type="password" placeholder="•••••••••••••••">
</mat-form-field>