<div class="container-view">
    <div class="container-view__header">
        <h2>Detalle</h2>
        <hr>
    </div>
    <div class="container-view__body">
        <h4 *ngIf="data$?.title"> <strong> {{data$?.title}} </strong></h4>
        <h4 *ngIf="data$?.name"> <strong> {{data$?.name}} {{data$?.last_name}} </strong></h4>

        <p [ngClass]="{'empty': data$?.description === ''}"> {{data$?.description != '' ? data$?.description : 'No tiene descripción.'}}</p>

        <div class="info">
            <p [ngClass]="{
                'state-active': data$?.active === 1,
                'state-inactive': data$?.active != 1
            }">
                Estado: {{data$?.active === 1 ? 'Activo' : 'Inactivo'}}
            </p>
        </div>
    </div>
    <div class="container-view__footer">
        <p>
            <ion-icon name="calendar-clear-outline"></ion-icon>
            {{data$?.date_string}}
        </p>

        <p>
            <ion-icon name="location-outline"></ion-icon> {{data$?.city | uppercase}}
        </p>
    </div>
</div>