.container-view{
    &__header{
        h2{
            color: #B33828;
            font-size: 18px;
            font-weight: bold;
        }
        hr{
            border: 0.5px solid #B33828;
        }
    }
    &__body{
        h4{
            font-size: 16px;
            padding: 5px 0px !important;
            font-weight: 600;
        }
        p{
            padding: 5px 0px !important;
            font-size: 14px;
            &.empty{
                color: #b9b9b9;
            }
            &.state-inactive{
                color: #B33828;
            }
            &.state-active{
                color: green;
            }
        }
    }
    &__footer{
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        p{
            font-size: 14px;
            display: flex;
            align-items: center;
            ion-icon{
                padding-right: 5px;
            }
        }
    }
}