<!--

  <div [formGroup]="form" class="button-wrapper" *ngIf="max else contentMax">
    <span class="label" style="background-image: url({{preview}});">
      <ion-icon *ngIf="!showActions" name="image-outline"></ion-icon>
      <small *ngIf="!showActions">Agregar archivo</small>
    </span>
    <button *ngIf="showActions" class="btn remove"> <ion-icon name="trash-outline"></ion-icon> </button>
    <input type="file" multiple="" #fileInput class="upload-box" (change)="onSelectFile($event)" placeholder="Upload File"  
    [formControlName]="meta.key" [id]="meta.key" >
</div>

<div class="files" *ngFor='let file of filesSendNames; let i = index'>
    <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip>
            <p>{{file.name.name}}</p>
          <button class="btn btn-remove" (click)="removeImage(i)">
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </mat-chip>
    </mat-chip-list>
</div>

<ng-template #contentMax>
    <div class="files-max">
        <p>Máximo 3 archivos.</p>
    </div>
</ng-template>

-->