<app-data-table 
    [dataSource]="myData"
    [columns]="myColumns"
    [meta]="meta"
    [classModal]="'h-80'"
    [classWidthModal]="'300'"
    [serviceGET]="'participant'"
    [serviceGETDetail]="'participant?fields=id,name,last_name,email,active'"
    >
</app-data-table>

<button mat-mini-fab class="btn btn-add" (click)="createElement()">
    <ion-icon name="add-outline"></ion-icon>
</button>