<div class="container-sidebar">
    <div class="container-sidebar__logo">
        <img src="../../../../assets/image/img/login/logo.svg" alt="">
    </div>

    <div class="container-sidebar__routes">
        
        <div class="route" matTooltip="Credicorp Capital" routerLinkActive="active" routerLink="./pagina" >
            <ion-icon name="home-outline"></ion-icon>
        </div>

        <div class="route" routerLinkActive="active" matTooltip="Otros"  [matMenuTriggerFor]="optionsOthers">
            <ion-icon name="options-outline"></ion-icon>
        </div>
    
        <mat-menu #optionsOthers="matMenu" yPosition="above">
            <button mat-menu-item routerLink="./sliders" > <ion-icon name="images-outline"></ion-icon> Sliders</button>
            <button mat-menu-item routerLink="./redes-sociales" > <ion-icon name="earth-outline"></ion-icon> Redes sociales</button>
            <button mat-menu-item routerLink="./enlaces" > <ion-icon name="git-compare-outline"></ion-icon> Footer </button>
        </mat-menu>

        <div class="route" routerLinkActive="active" matTooltip="Eventos" routerLink="./eventos">
            <ion-icon name="calendar-clear-outline"></ion-icon>
        </div>

        <div class="route" routerLinkActive="active" matTooltip="Participantes" routerLink="./participantes">
            <ion-icon name="people-outline"></ion-icon>
        </div>

        <div class="route" routerLinkActive="active" matTooltip="Transmisiones" routerLink="./transmision">
            <ion-icon name="videocam-outline"></ion-icon>
        </div>

        <div class="route" routerLinkActive="active" matTooltip="Usuarios" routerLink="./users">
            <ion-icon name="person-outline"></ion-icon>
        </div>

        <div class="route" routerLinkActive="active" matTooltip="Fechas de eventos" routerLink="./event-date">
            <ion-icon name="calendar-outline"></ion-icon>
        </div>

        <div class="route" routerLinkActive="active" matTooltip="Logos" routerLink="./logo">
            <ion-icon name="finger-print-outline"></ion-icon>
        </div>

        <div class="route" routerLinkActive="active" matTooltip="Parametros" routerLink="./parameters">
            <ion-icon name="layers-outline"></ion-icon>
        </div>

    </div>

    <div class="container-sidebar__user" [matMenuTriggerFor]="optionsMenu">
        <img src="../../../../assets/image/img/dashboard/user.png" alt="">
    </div>

    <mat-menu #optionsMenu="matMenu" yPosition="above">
        <button mat-menu-item (click)="changePassword()"><ion-icon name="finger-print-outline"></ion-icon> Contraseña</button>
        <button mat-menu-item (click)="closeSession()"> <ion-icon name="exit-outline"></ion-icon> Cerrar sesión</button>
    </mat-menu>

</div>

