@use '../../../../sass/01-abstracts/variable' as *;

.container-sidebar{
    height: 96vh;
    width: 100px;
    padding: 30px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (max-width:768px){
        width: 100%;
        height: auto;
        padding: 15px;

        display: grid;
        grid-template-areas:
            'logo user'
            'menu menu';
            
    }
    &__logo{
        @media (max-width:768px){
            grid-area: logo;
        }
        
        img{
            width: 100%;
            @media (max-width:768px){
                width: 60%;
            }
        }
    }
    &__routes{
        height: 65vh;
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
        padding: 0px 0;
        box-sizing: border-box;
        @media (max-width:768px){
            width: 100%;
            display: flex;
            justify-content: start !important;
            grid-area: menu;
            flex-direction: row;
            justify-content: space-evenly;
            height: auto;
            padding-top: 15px;
        }
        .route{
            background-color: $gray;
            text-align: center;
            padding: 12px;
            box-sizing: border-box;
            border-radius: 5px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: .3s ease all;
            ion-icon{
                font-size: 24px;
                @media (max-width:768px){
                    font-size: 20px;
                }
            }
            @media (max-width:768px){
                margin-bottom: 20px;
                margin: 0;
                margin-top: 20px;
                margin: 0px 5px;
                &:first-child{
                    //margin-left: 115px;
                }
            }
            &.active{
                background-color: $color-secondary;
                color: white;
            }
        }
    }
    &__user{
        grid-area: user;
        cursor: pointer;
        @media (max-width:768px){
            text-align: right;
        }
    }
}