@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

h1, h2, h3, h4, h5,
p, span, label, div{
    font-family: 'Poppins', sans-serif !important;
}

@font-face {
    font-family: 'Chunkfive';
    src: url('../../assets/fonts/Chunkfive\ Ex.ttf') format('woff2'),
         url('../../assets/fonts/Chunkfive\ Ex.ttf') format('ttf'),
         url('../../assets/fonts/Chunkfive\ Ex.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-chukfive{
    font-family: 'Chunkfive' !important;
}