<app-breadcrumb></app-breadcrumb>

<app-data-table 
    [dataSource]="myData"
    [columns]="myColumns"
    [meta]="meta"
    [serviceGET]="'event'"
    [classModal]="'h-80'"
    [serviceGETDetail]="'event?fields=id,title,description,date_string,active'">
</app-data-table>

<button mat-mini-fab class="btn btn-add" (click)="createElement()">
    <ion-icon name="add-outline"></ion-icon>
</button>