@use '../01-abstracts/variable' as *;
@use '../01-abstracts/mixins' as *;

.mat-elevation-z8 {
    box-shadow: none;
    table {
        width: 100%;
        tr {
            height: 30px !important;
            td, th{
                vertical-align: middle;
                border-bottom-color: #e6e6e77a !important;
            }
        }
    }
}

.mat-menu-item span {
    padding-left: 5px !important;
}


/* Slide Material */

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #b33828;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(179 56 40 / 44%);
}

/* Inputs */
mat-form-field {
    width: 100%;
    mat-label {
        font-size: 14px;
    }
    .mat-input-element {
        font-size: 14px;
    }
    .mat-form-field-label-wrapper {
        padding-top: 0.84375em !important;
    }

    .mat-form-field-appearance-legacy {
        padding: 5px 0 !important;
        .mat-form-field-label {
            top: 18px !important;
        }
        .mat-form-field-wrapper{
            margin-bottom: -10px !important;
        }
        .mat-form-field-infix {
            padding-top: 0px !important;
        }
    }
}
.mat-form-field.mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element{
    color: #B33828 !important;
    caret-color: #B33828 !important;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-label{
    color: #B33828 !important;
}


/* Dialog */
.h-80 .container-form form{
  overflow: auto;
  //height: 80vh !important;
}
.cdk-overlay-pane.h-80 {
  overflow: auto;
}

.mat-form-field-appearance-standard .mat-form-field-flex{
    padding: 0 !important;
}


.mat-bread-crumb-list{
    padding: 0 !important;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
    padding: 0 !important;
}
mat-toolbar.mat-toolbar.mat-bread-crumb.mat-toolbar-single-row {
    background: none !important;
    padding: 0;
}

a.mat-bread-crumb-list-item {
    font-size: 20px !important;
    text-decoration: none;
    font-weight: bold;
    color: white !important;
}

.mat-list-item-content span{
    color: white !important;
}


mat-dialog-container {
    overflow-x: hidden !important;
    @media(max-width: 600px){
        height: 90vh !important;
        overflow-x: hidden;
    }
}

mat-chip.mat-chip {
    width: 280px;
    padding-right: 30px;
}



/* Table responsive */
@media (max-width: 768px) {
    .mat-table[matTableResponsive] {
      .mat-header-row {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        position: sticky;
        top: 0;
        z-index: 2;
  
        th.mat-header-cell {
          display: flex;
          flex: 1;
          align-items: center;
          padding: 1rem 0.5rem;
          justify-content: space-around;
  
          & > .mat-sort-header-container {
            padding-left: 15px; // padding is used to center the header table cells, due to the width of the sort icon
          }
  
          &:not([mat-sort-header]),
          &.mat-sort-header-disabled,
          &.mat-column-actions {
            display: none;
          }
        }
      }
  
      .mat-row {
        height: auto;
  
        td.mat-cell:not(.mat-column-actions) {
          display: grid;
          grid-template-columns: 50% 50%;
          padding: 0.5rem;
          text-align: right;
          word-break: break-word;
  
          & > * {
            grid-column: 2;
          }
  
          &:before {
            content: attr(data-column-name);
            text-align: left;
          }
        }
  
        td.mat-column-actions {
          display: flex;
          justify-content: center;
          padding: 0 0.5rem;
  
          & > button {
            margin: 0.5rem 0;
          }
        }
  
        &:last-of-type td:last-of-type {
          border: none;
        }
  
        &:not(:last-of-type) td:last-of-type {
          border-bottom: 0.5rem solid #fafafa;
        }
      }
    }
  
    .mat-card,
    .mat-expansion-panel {
      .mat-table[matTableResponsive] {
        border: 0.5rem solid #fafafa;
      }
    }
  }
  