@use '../01-abstracts/variable' as *;

.swal2-popup {
    padding: 20px !important;
    h2#swal2-title {
        font-size: 18px;
    }

    .swal2-styled{
        &.swal2-confirm{
            background-color: #B33828 !important;
        }
        &.swal2-deny{
            background-color: #B33828 !important;
        }
        &.swal2-confirm{
            //background-color: #333939 !important;
        }
    }
}