<div [ngSwitch]="control.controlType" class="content">
  <app-text-input
    *ngSwitchCase="'textinput'"
    [meta]="control"
    [form]="form"
  >
  </app-text-input>

  <app-date-input
  *ngSwitchCase="'dateinput'"
    [meta]="control"
    [form]="form">
  </app-date-input>

  <app-datetime-input
  *ngSwitchCase="'datetimeinput'"
    [meta]="control"
    [form]="form">
  </app-datetime-input>

  <app-html
  *ngSwitchCase="'htmleditor'"
    [meta]="control"
    [form]="form">
  </app-html>
  
  <app-dropdown
    *ngSwitchCase="'dropdown'"
    [meta]="control"
    [form]="form"
  >
</app-dropdown>

<app-dropdown-multiply
*ngSwitchCase="'dropdown-multiply'"
[meta]="control"
[form]="form"
>
</app-dropdown-multiply>

  <app-checkbox
    *ngSwitchCase="'checkbox'"
    [meta]="control"
    [form]="form"
  >
  </app-checkbox>

  <app-password-input
    *ngSwitchCase="'passwordInput'"
    [meta]="control"
    [form]="form"
  >
  </app-password-input>

  <app-image
    *ngSwitchCase="'imageInput'"
    [meta]="control"
    [form]="form"
  >
  </app-image>

  <app-files
    *ngSwitchCase="'files'"
    [meta]="control"
    [form]="form"
  >
  </app-files>

</div>
