footer{
    height: 4vh;
    background-color: #333939;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    p{
        font-size: 11px;
        @media (max-width:768px){
            text-align: center;
        }
    }

    @media (max-width:768px){
        padding-bottom: 5px !important;
    }
}