@use '../01-abstracts/variable' as *;
@use '../01-abstracts/mixins' as *;

.btn{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 15%;
    @media(max-width: 2600){
        width: 18%;
    }
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        ion-icon{
            font-size: 20px;
            margin-left: 5px;
            font-weight: 600;
        }
    }

    &-add{
        position: fixed !important;
        right: 40px;
        bottom: 50px;
        color: white;

        background: #b33828 !important;
        color: white !important; 
        ion-icon{
            margin: 0 !important;
        }
    }

    &-primary{
        @include button(true, $white, $color-primary, 0px, 18px, 10px, 100%);
    }
    &-secondary{
        @include button(false, $white, $color-primary, 0px, 16px, 10px, 100%);
    }
}

//Spinner
#spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
  
@keyframes spin {
to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
to { -webkit-transform: rotate(360deg); }
}
