@use '../01-abstracts/variable' as *;
@use '../01-abstracts/mixins' as *;

.input-label{
    font-size: 14px;
    padding-top: 10px !important;
}
input {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-top: 10px;
}