//Abstracts
@use './sass/01-abstracts/_abstracts-dir' as *;

//Core
@use './sass/02-core/_core-dir' as *;

//Components
@use './sass/03-components/_components-dir' as *;

//Layout
@use './sass/04-layout/_layouts-dir' as *;

//Pages
@use './sass/05-pages/_pages-dir' as *;

//Vendors
@use './sass/06-vendors/_vendor-dir' as *;


app-modules{
    width: 100%;
    background-color: $color-primary;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 100px !important;
}
.ck-editor__editable_inline {
    min-height: 100px !important;
}
