<mat-form-field [formGroup]="form">
  <mat-label>{{meta.label}}</mat-label>
  <mat-select [id]="meta.key" [formControlName]="meta.key">
    <mat-option *ngFor="let opt of options" [value]="opt.id">
      {{ opt.name }}
    </mat-option>
  </mat-select>
</mat-form-field>