.container-dashboard{
    height: 96vh;
    display: flex;
    justify-content: space-between;
    @media(max-width: 600px){
        height: fit-content;
    }
    > div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @media (max-width:768px){
            height: 100%;
        }
    }
    @media (max-width:768px){
        flex-direction: column;
    }
    &__content{
        width: 100%;
        height: 90%;
        box-sizing: border-box;
        background-color: rgb(51, 57, 57);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 20px;
        @media (max-width:768px){
            height: 100%;
            padding-top: 20px;
        }
    }
    app-header{
        width: 100%;
        height: 10%;
        display: flex;
        background-color: #333939;
        align-items: center;
    }
}