<div class="container-dashboard">
    <app-sidebar 
    *ngIf="isShowSideBar"   
    [@inOutAnimation]
    ></app-sidebar>

    <div>
        <app-header (toggleSideBar)="showSideBar($event)"></app-header>

        <div class="container-dashboard__content">
            <router-outlet></router-outlet>
        </div>
    </div>
    
</div>
<app-footer></app-footer>