.button-wrapper {
    width: 100%;
    height: 130px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        &.remove{
            position: absolute;
            right: 5px;
            top: 5px;
            width: auto;
            padding: 5px;
            background: #B33828;
            color: white;
            font-size: 16px;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 99;
        }

    }
    span {
        background: #80838714;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 5px;
        small{
            font-size: 14px;
            padding-top: 10px;
        }
    }
    input{
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
    }
}