<!--

  <div [formGroup]="form" class="button-wrapper">
  <span class="label" style="background-image: url({{preview}});">
    <ion-icon *ngIf="!showActions" name="image-outline"></ion-icon>
    <small *ngIf="!showActions">Agregar foto</small>
  </span>
  <button *ngIf="showActions" class="btn remove" (click)="resetFileEvent();"> <ion-icon name="trash-outline"></ion-icon> </button>
  <input type="file" #fileInput class="upload-box" (change)="fileChangeEvent($event)" placeholder="Upload File"  
  [formControlName]="meta.key" [id]="meta.key">
</div>

-->