<header class="header">
    <app-breadcrumb></app-breadcrumb>
    <div class="header-burger" (change)="toggleMenu()">
        <input class="menu-btn" type="checkbox" id="menu-btn" >
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    </div>
</header>