@use '../../../../sass/01-abstracts/variable' as *;
@use '../../../../sass/01-abstracts/mixins' as *;

.header{
    height: auto;
    width: 95%;
    margin: auto;
    background-color: $color-primary;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    input[type='checkbox'] {
        display: none;
    }
    &-action{
        transition: .5s ease all;
        @media(max-width: 600px){
            position: absolute;
            top: 10vh;
            width: 100%;
            left: 0;
            right: 0;
            padding: 40px;
            box-sizing: border-box;
            background: white;
        }
    }
    &-burger{
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


/* Menu burger */

.menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 0px;
    position: relative;
    user-select: none;
    display: none;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    .navicon {
        background: $white;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }
}


.menu-icon .navicon:before, .menu-icon .navicon:after {
    background: $white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.menu-icon .navicon:before {
    top: 5px;
}


.menu-icon .navicon:after {
    top: -5px;
}

.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(
45deg
);
}

.menu-btn:checked ~ .header-buttons {
    max-height: 240px;
}