<div class="container-form">
  <app-loader *ngIf="showPercentage" [message]="showMessage" [showMessage]="true"></app-loader>

  <div class="container-form__title">
    <h2>{{title}}</h2>
    <hr>
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let control of meta; let l = count" class="content" [ngSwitch]="control.language" 
    [ngClass]="[ l === 1 ? 'w-100' : 'w-50']" >
    
      <div *ngSwitchCase="'ES'" class="content-ES">

        <div class="content-title">
          <img src="../../../../../assets/image/img/languages/icon_spanish.svg" alt="">
        </div>
        <div class="content-input"  *ngFor="let field of control.data">

          <div *ngIf="field.label === 'Imagen:'" class="button-wrapper">
            <span class="label" style="background-image: url({{preview}});">
              <ion-icon *ngIf="!showActions" name="image-outline"></ion-icon>
              <small *ngIf="!showActions">Agregar archivo</small>
            </span>
            <button type="button" *ngIf="showActions" class="btn remove" (click)="resetFileEventMultiply(field.key)"> <ion-icon name="trash-outline"></ion-icon> </button>
            <input type="file" #fileInput class="upload-box" (change)="fileChangeEvent($event, field.key)" placeholder="Upload File"  
            [formControlName]="field.key">
          </div>

          <div *ngIf="field.label === 'Imagen_en:'" class="button-wrapper">
            <span class="label" style="background-image: url({{preview_en}});">
              <ion-icon *ngIf="!showActions_en" name="image-outline"></ion-icon>
              <small *ngIf="!showActions_en">Agregar archivo</small>
            </span>
            <button type="button" *ngIf="showActions_en" class="btn remove" (click)="resetFileEventMultiply(field.key)"> <ion-icon name="trash-outline"></ion-icon> </button>
            <input type="file" #fileInput class="upload-box" (change)="fileChangeEvent($event, field.key)" placeholder="Upload File"  
            [formControlName]="field.key">
          </div>

          <div *ngIf="field.key === 'documents'" class="presentations">
                <div [formGroup]="form" class="button-wrapper" *ngIf="max else contentMax">
                    <span class="label" style="background-image: url({{preview}});">
                      <ion-icon *ngIf="!showActions" name="image-outline"></ion-icon>
                      <small *ngIf="!showActions">Agregar archivo</small>
                    </span>
                    <button *ngIf="showActions" class="btn remove"> <ion-icon name="trash-outline"></ion-icon> </button>
                    <input type="file" multiple="" #fileInput class="upload-box" (change)="onSelectFile($event)" placeholder="Upload File"  
                    [formControlName]="field.key" [id]="field.key" >
                </div>

                <div class="files" *ngFor='let file of filesSend; let i = index'>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip (click)="openFile(file?.route)">
                            <p>{{file.name}}</p>
                        </mat-chip>
                    </mat-chip-list>

                    <button type="button" class="btn btn-remove" (click)="removeImage(file.id)">
                      <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>
                
                <ng-template #contentMax>
                    <div class="files-max">
                        <p>Máximo 3 archivos.</p>
                    </div>
                </ng-template>

          </div>
          <!-- f[field.key].errors &&  -->
          <app-control  [control]="field" [form]="form" ></app-control>
          <div *ngIf="submitted && f[field.key].errors" class="invalid">
            <p>Este campo es obligatorio</p>
          </div>

        </div>
        
      </div>

      <div *ngSwitchCase="'EN'" class="content-EN">
        <div class="content-title">
          <img src="../../../../../assets/image/img/languages/icon_english.svg" alt="">
        </div>
        <div class="content-input"  *ngFor="let field of control.data">
          <div *ngIf="field.label === 'Imagen:'" class="button-wrapper">
            <span class="label" style="background-image: url({{preview_en}});">
              <ion-icon *ngIf="!showActions_en" name="image-outline"></ion-icon>
              <small *ngIf="!showActions_en">Agregar archivo</small>
            </span>
            <button *ngIf="showActions_en" class="btn remove" (click)="resetFileEvent()"> <ion-icon name="trash-outline"></ion-icon> </button>
            
            <input type="file" #fileInput class="upload-box" (change)="fileChangeEvent($event, field.key)" placeholder="Upload File"  
            [formControlName]="field.key">
          </div>


          <app-control  [control]="field" [form]="form" ></app-control>
          <div *ngIf="submitted && f[field.key].errors" class="invalid">
            <p>Este campo es obligatorio</p>
          </div>

        </div>
      </div>

    </div>
<!--  [disabled]="!form.valid" -->

    <div class="form-actions">
      <div class="form-row">
        <button type="submit" class="btn btn-primary">{{buttonText}}</button>
      </div>
  
      <div class="form-row close">
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
      </div>
    </div>

  </form>

</div>