@use '../../../../../sass/01-abstracts/variable' as *;
@use '../../../../../sass/01-abstracts/mixins' as *;

.container-form{
    &__title{
        h2{
            color: #B33828;
            font-size: 18px;
            font-weight: bold;
        }
        hr{
            border: 0.5px solid #B33828;
        }
    }
    
    form{
        height: fit-content;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .content{
            width: 47%;
            &.w-100{
                width: 100%;
            }
            &-EN{
                @media (max-width: 768px) {
                    margin-top: 40px;
                }
            }
            &-title{
                margin: 10px 0px;
                img{
                    width: 35px;
                }
            }
            &-input{
                .invalid{
                    margin-top: -15px;
                    p{
                        font-size: 12px;
                        color: #B33828;
                    }
                }
            }
        }
        .form-row{
            padding-bottom: 30px;
                .btn-primary{
                    @include button(true, $color-secondary, $white, 0px, 15px, 10px, 100%);
                margin-top: 45px;

                }
                .btn-secondary{
                    @include button(true, $white, $color-secondary, 0px, 15px, 10px, 100%);
                margin-top: 45px;

                }
        }
    }
}



.button-wrapper {
    width: 100%;
    height: 130px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        &.remove{
            position: absolute;
            right: 5px;
            top: 5px;
            width: auto;
            padding: 5px;
            background: #B33828;
            color: white;
            font-size: 16px;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 99;
        }

    }
    span {
        background: #80838714;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 5px;
        small{
            font-size: 14px;
            padding-top: 10px;
        }
    }
    input{
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
    }
}


.presentations{
    position: relative;

    .files{
        position: relative;
        p{
            margin-top: 80px;
            //width: 235px;
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
            padding-right: 25px !important;
        }   
        .btn-remove{
            position: absolute;
            right: -10px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 30px;
            height: 30px;
        }
    }
    
    .files-max{
        position: absolute;
        bottom: -15px;
        p{
            color: #B33828;
            font-size: 12px;
        }
    }
}

.form-actions{
    display: flex;
    .close{
        margin-left: 20px;
    }
}
